src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/HierarchyServices/HierarchyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://www.rapidwebdev.org/platform" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="HierarchyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.rapidwebdev.org/platform" location="http://localhost:50682/Services/HierarchyService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WebHttpBinding_HierarchyService" type="i0:HierarchyService">
    <wsdl:operation name="SaveJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SaveXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetHierarchyDataByIdJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetHierarchyDataByIdXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetHierarchyDataByNameJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetHierarchyDataByNameXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetImmediateChildrenJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetImmediateChildrenXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAllChildrenJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAllChildrenXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAllHierarchyDataJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAllHierarchyDataXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="HardDeleteHierarchyDataJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="HardDeleteHierarchyDataXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByKeywordJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByKeywordXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryHierarchyDataJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryHierarchyDataXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HierarchyService">
    <wsdl:port name="WebHttpBinding_HierarchyService" binding="tns:WebHttpBinding_HierarchyService" />
  </wsdl:service>
</wsdl:definitions>