src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/HierarchyServices/HierarchyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.rapidwebdev.org/common" elementFormDefault="qualified" targetNamespace="http://www.rapidwebdev.org/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WebServiceQueryPredicate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfWebServiceQueryPredicateParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceQueryPredicate" nillable="true" type="tns:WebServiceQueryPredicate" />
  <xs:complexType name="ArrayOfWebServiceQueryPredicateParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebServiceQueryPredicateParameter" nillable="true" type="tns:WebServiceQueryPredicateParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebServiceQueryPredicateParameter" nillable="true" type="tns:ArrayOfWebServiceQueryPredicateParameter" />
  <xs:complexType name="WebServiceQueryPredicateParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:WebServiceQueryPredicateParameterTypes" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceQueryPredicateParameter" nillable="true" type="tns:WebServiceQueryPredicateParameter" />
  <xs:simpleType name="WebServiceQueryPredicateParameterTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="String" />
      <xs:enumeration value="DateTime" />
      <xs:enumeration value="Guid" />
      <xs:enumeration value="Integer" />
      <xs:enumeration value="Decimal" />
      <xs:enumeration value="Double" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebServiceQueryPredicateParameterTypes" nillable="true" type="tns:WebServiceQueryPredicateParameterTypes" />
</xs:schema>