src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/MembershipServices/MembershipService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.rapidwebdev.org/platform" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.rapidwebdev.org/platform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.rapidwebdev.org/platform/Imports">
      <xsd:import schemaLocation="http://localhost:50682/Services/MembershipService.svc?xsd=xsd0" namespace="http://www.rapidwebdev.org/platform" />
      <xsd:import schemaLocation="http://localhost:50682/Services/MembershipService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50682/Services/MembershipService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50682/Services/MembershipService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RapidWebDev.ExtensionModel" />
      <xsd:import schemaLocation="http://localhost:50682/Services/MembershipService.svc?xsd=xsd4" namespace="http://www.rapidwebdev.org/extensionmodel" />
      <xsd:import schemaLocation="http://localhost:50682/Services/MembershipService.svc?xsd=xsd5" namespace="http://www.rapidwebdev.org/common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MembershipService_SaveJson_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveJson" />
  </wsdl:message>
  <wsdl:message name="MembershipService_SaveJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveJsonResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_SaveXml_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveXml" />
  </wsdl:message>
  <wsdl:message name="MembershipService_SaveXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveXmlResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_BulkGetJson_InputMessage">
    <wsdl:part name="parameters" element="tns:BulkGetJson" />
  </wsdl:message>
  <wsdl:message name="MembershipService_BulkGetJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:BulkGetJsonResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_BulkGetXml_InputMessage">
    <wsdl:part name="parameters" element="tns:BulkGetXml" />
  </wsdl:message>
  <wsdl:message name="MembershipService_BulkGetXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:BulkGetXmlResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_GetByNameJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameJson" />
  </wsdl:message>
  <wsdl:message name="MembershipService_GetByNameJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameJsonResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_GetByNameXml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameXml" />
  </wsdl:message>
  <wsdl:message name="MembershipService_GetByNameXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameXmlResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_GetByIdJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdJson" />
  </wsdl:message>
  <wsdl:message name="MembershipService_GetByIdJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdJsonResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_GetByIdXml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdXml" />
  </wsdl:message>
  <wsdl:message name="MembershipService_GetByIdXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdXmlResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_ChangePasswordJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordJson" />
  </wsdl:message>
  <wsdl:message name="MembershipService_ChangePasswordJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordJsonResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_ChangePasswordXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordXml" />
  </wsdl:message>
  <wsdl:message name="MembershipService_ChangePasswordXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordXmlResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_QueryUsersJson_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryUsersJson" />
  </wsdl:message>
  <wsdl:message name="MembershipService_QueryUsersJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryUsersJsonResponse" />
  </wsdl:message>
  <wsdl:message name="MembershipService_QueryUsersXml_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryUsersXml" />
  </wsdl:message>
  <wsdl:message name="MembershipService_QueryUsersXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryUsersXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="MembershipService">
    <wsdl:operation name="SaveJson">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/SaveJson" message="tns:MembershipService_SaveJson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/SaveJsonResponse" message="tns:MembershipService_SaveJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveXml">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/SaveXml" message="tns:MembershipService_SaveXml_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/SaveXmlResponse" message="tns:MembershipService_SaveXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BulkGetJson">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/BulkGetJson" message="tns:MembershipService_BulkGetJson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/BulkGetJsonResponse" message="tns:MembershipService_BulkGetJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BulkGetXml">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/BulkGetXml" message="tns:MembershipService_BulkGetXml_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/BulkGetXmlResponse" message="tns:MembershipService_BulkGetXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByNameJson">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/GetByNameJson" message="tns:MembershipService_GetByNameJson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/GetByNameJsonResponse" message="tns:MembershipService_GetByNameJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByNameXml">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/GetByNameXml" message="tns:MembershipService_GetByNameXml_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/GetByNameXmlResponse" message="tns:MembershipService_GetByNameXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdJson">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/GetByIdJson" message="tns:MembershipService_GetByIdJson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/GetByIdJsonResponse" message="tns:MembershipService_GetByIdJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdXml">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/GetByIdXml" message="tns:MembershipService_GetByIdXml_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/GetByIdXmlResponse" message="tns:MembershipService_GetByIdXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordJson">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/ChangePasswordJson" message="tns:MembershipService_ChangePasswordJson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/ChangePasswordJsonResponse" message="tns:MembershipService_ChangePasswordJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordXml">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/ChangePasswordXml" message="tns:MembershipService_ChangePasswordXml_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/ChangePasswordXmlResponse" message="tns:MembershipService_ChangePasswordXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryUsersJson">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/QueryUsersJson" message="tns:MembershipService_QueryUsersJson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/QueryUsersJsonResponse" message="tns:MembershipService_QueryUsersJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryUsersXml">
      <wsdl:input wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/QueryUsersXml" message="tns:MembershipService_QueryUsersXml_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rapidwebdev.org/platform/MembershipService/QueryUsersXmlResponse" message="tns:MembershipService_QueryUsersXml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>