src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/MembershipServices/MembershipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://www.rapidwebdev.org/platform" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="MembershipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.rapidwebdev.org/platform" location="http://localhost:50682/Services/MembershipService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WebHttpBinding_MembershipService" type="i0:MembershipService">
    <wsdl:operation name="SaveJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SaveXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="BulkGetJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="BulkGetXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetByNameJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetByNameXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetByIdJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetByIdXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryUsersJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryUsersXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MembershipService">
    <wsdl:port name="WebHttpBinding_MembershipService" binding="tns:WebHttpBinding_MembershipService" />
  </wsdl:service>
</wsdl:definitions>