src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/PermissionServices/PermissionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://www.rapidwebdev.org/platform" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PermissionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.rapidwebdev.org/platform" location="http://localhost:50682/Services/PermissionService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WebHttpBinding_PermissionService" type="i0:PermissionService">
    <wsdl:operation name="SetRolePermissionsByJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SetRolePermissionsByXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SetUserPermissionsByJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SetUserPermissionsByXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindUserPermissionsByJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindUserPermissionsByXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindRolePermissionsByJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindRolePermissionsByXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DoesTheUserHasPermissionJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DoesTheUserHasPermissionXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DoesTheCurrentUserHavePermissionJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DoesTheCurrentUserHavePermissionXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PermissionService">
    <wsdl:port name="WebHttpBinding_PermissionService" binding="tns:WebHttpBinding_PermissionService" />
  </wsdl:service>
</wsdl:definitions>