src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/OrganizationServices/OrganizationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.rapidwebdev.org/extensionmodel" elementFormDefault="qualified" targetNamespace="http://www.rapidwebdev.org/extensionmodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DateTimeFieldValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateTimeFieldValue" nillable="true" type="tns:DateTimeFieldValue" />
  <xs:complexType name="DecimalFieldValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decimal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DecimalFieldValue" nillable="true" type="tns:DecimalFieldValue" />
  <xs:complexType name="StringFieldValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="String" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringFieldValue" nillable="true" type="tns:StringFieldValue" />
  <xs:complexType name="IntegerFieldValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Integer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegerFieldValue" nillable="true" type="tns:IntegerFieldValue" />
</xs:schema>