src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/OrganizationServices/OrganizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://www.rapidwebdev.org/platform" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="OrganizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.rapidwebdev.org/platform" location="http://localhost:50682/Services/OrganizationService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WebHttpBinding_OrganizationService" type="i0:OrganizationService">
    <wsdl:operation name="ListDomainsJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ListDomainsXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SaveOrganizationTypeJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SaveOrganizationTypeXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationTypeByIdJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationTypeByIdXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationTypeByNameJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationTypeByNameXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindOrganizationTypesJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindOrganizationTypesXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SaveOrganizationJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SaveOrganizationXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByIdJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByIdXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByCodeJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByCodeXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByNameJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByNameXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="BulkGetOrganizationsByIdsJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="BulkGetOrganizationsByIdsXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryOrganizationsJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryOrganizationsXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganizationService">
    <wsdl:port name="WebHttpBinding_OrganizationService" binding="tns:WebHttpBinding_OrganizationService" />
  </wsdl:service>
</wsdl:definitions>