src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/SequenceServices/SequenceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.rapidwebdev.org/platform" elementFormDefault="qualified" targetNamespace="http://www.rapidwebdev.org/platform" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50682/Services/SequenceService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateSingleJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNoType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSingleJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSingleJsonResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSingleXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNoType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSingleXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSingleXmlResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMultipleJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNoType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNoCount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMultipleJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CreateMultipleJsonResult" nillable="true" type="q1:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMultipleXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNoType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNoCount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMultipleXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CreateMultipleXmlResult" nillable="true" type="q2:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>