src/RapidWebDev.RestfulServices/RapidWebDev.RestfulServices/Service References/RoleServices/RoleService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://www.rapidwebdev.org/platform" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="RoleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.rapidwebdev.org/platform" location="http://localhost:50682/Services/RoleService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WebHttpBinding_RoleService" type="i0:RoleService">
    <wsdl:operation name="SaveJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SaveXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="HardDeleteJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="HardDeleteXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SetUserToRolesJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SetUserToRolesXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetByNameJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetByNameXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetByIdJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetByIdXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="BulkGetJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="BulkGetXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindAllJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindAllXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByOrganizationIdJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByOrganizationIdXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByUserIdJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByUserIdXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByOrganizationTypeJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByOrganizationTypeXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByDomainJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindByDomainXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRoleByIdJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRoleByIdXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRoleByNameJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRoleByNameXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryRolesJson">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryRolesXml">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleService">
    <wsdl:port name="WebHttpBinding_RoleService" binding="tns:WebHttpBinding_RoleService" />
  </wsdl:service>
</wsdl:definitions>